<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css" th:href="'/style.css'">
    <title>Sir Quiz-A-Lot</title>
</head>
<h1> Super admin sida!!</h1>
<div class="container">
    <header class="d-flex bg-primary flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32">
                <use xlink:href="#bootstrap"/>
            </svg>
            <span><img src="/static/FullLogoWhite.png" th:src="'/FullLogoWhite.png'" alt="loggo" width="200px"
                       height="auto"></span>
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-light">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-light">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-light">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-light">About</a></li>
        </ul>
    </header>
</div>
<div class="b-example-divider"></div>

<div class="container col-xl-8 px-4 py-5">
    <h1 class="display-5 fw-bold lh-1 mb-3">Välkommen NAMEPLACEHOLDER</h1>
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="/static/Champion.png" th:src="'/Champion.png'" class="d-block mx-lg-auto img-fluid"
                 alt="Winners Cup" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h5 class="display-5">Leaderboard</h5>
            <p>
            <table class="table table-striped table-secondary">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Points</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>ThisTheGuy</td>
                    <td>25600</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>IsThisRight</td>
                    <td>25500</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Dudette</td>
                    <td>24500</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>SomeDude</td>
                    <td>24300</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>WhoDis</td>
                    <td>24200</td>
                </tr>
                </tbody>
            </table>
            </p>
        </div>
    </div>
</div>

<div class="container bg-secondary">
    <div class="container col-xl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="/static/BlueButton.png" th:src="'/BlueButton.png'" class="d-block mx-lg-auto img-fluid"
                     alt="Winners Cup" width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Starta ett Quiz</h1>
            </div>
        </div>
    </div>
</div>



<body>
<h1>Fina fisken du kom in :DDDD</h1>
<p th:text="'Logged in as player: ' + ${session.username}"></p>
<a href="/logout">Logout</a>

</body>
</html>